@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300);
html,
body {
  position: relative;
  margin: 0px;
  padding: 0px;
  color: #222;
  cursor: auto;
  font-family: "PT Sans", Courier, sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 1.5;
  max-width: 100%;
  overflow-x: hidden; }

.hide {
  display: none; }

.gradientborder {
  border-style: solid;
  border-width: 4px 0px 0px;
  border-image: url("../images/template/gradient.jpg") 4 0 0 0 stretch repeat; }

.header {
  margin: 0 auto;
  width: 100%;
  height: 60px;
  padding: 10px 0px 10px 0px;
  background: url("../images/template/header-bg.PNG") center repeat scroll;
  border-top: 1px solid #FFF;
  border-bottom: 1px solid #C4C4C0; }
  .header .grid {
    margin: 0 auto;
    width: 90%;
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;
    /* OLD - Firefox 19- (buggy but     mostly works) */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Chrome */
    display: flex;
    /* NEW, Spec - Opera 12.1, Firefox 20+     */ }
    .header .grid .grid-row {
      flex-grow: 1;
      position: relative; }
      .header .grid .grid-row:nth-child(1) {
        flex-grow: initial; }
      .header .grid .grid-row:nth-child(2) {
        flex-basis: 65%;
        padding: 5px 0px 0px 50px; }
        .header .grid .grid-row:nth-child(2) .sf-menu {
          margin: 0 auto;
          width: 100%;
          display: -webkit-box;
          /* OLD - iOS 6-, Safari 3.1-6 */
          display: -moz-box;
          /* OLD - Firefox 19- (buggy but     mostly works) */
          display: -ms-flexbox;
          /* TWEENER - IE 10 */
          display: -webkit-flex;
          /* NEW - Chrome */
          display: flex;
          /* NEW, Spec - Opera 12.1, Firefox 20+     */ }
          .header .grid .grid-row:nth-child(2) .sf-menu li {
            flex-grow: 1; }
          @media screen and (max-width: 1200px) {
            .header .grid .grid-row:nth-child(2) .sf-menu {
              display: none; } }
      .header .grid .grid-row:nth-child(3) .tel-info {
        display: block;
        float: right;
        width: auto;
        height: auto;
        padding: 10px;
        background-color: rgba(106, 177, 19, 0.5);
        color: #fff;
        transition: all ease 0.3s; }
        .header .grid .grid-row:nth-child(3) .tel-info .tel-icon {
          margin: 4px 10px 5px 5px;
          float: left; }
        .header .grid .grid-row:nth-child(3) .tel-info .tel {
          font-size: 20px; }
          @media screen and (max-width: 1500px) {
            .header .grid .grid-row:nth-child(3) .tel-info .tel {
              display: none; } }
        .header .grid .grid-row:nth-child(3) .tel-info:hover {
          cursor: pointer;
          background: rgba(0, 0, 0, 0.14) none repeat scroll 0% 0%;
          transition: all ease 0.3s; }
  .header.sticky {
    position: fixed;
    top: 0;
    left: 0;
    transition: all 0.4s ease;
    z-index: 1;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2); }

.slider {
  margin: 0 auto;
  width: 100%;
  height: 400px;
  background: url(http://www.s-thetic.de/images/carousel/neu/E1-START_Aesth-mit-OP-MAIN-Koerper.jpg) top no-repeat fixed;
  background-size: cover;
  position: relative; }
  .slider .slider-content {
    margin: 0px auto;
    width: 90%;
    padding: 10px;
    position: absolute;
    bottom: 10px;
    left: 5%;
    background: rgba(0, 0, 0, 0.34);
    border-radius: 5px; }
    .slider .slider-content h1 {
      font-size: 5vh;
      font-family: "PT Sans", Courier, sans-serif;
      font-weight: 700;
      color: #fff;
      display: inline;
      margin: 0; }
    .slider .slider-content p {
      font-family: "PT Sans", Courier, sans-serif;
      font-weight: 300;
      color: #fff; }

.wrapper {
  margin: 0 auto;
  width: 100%;
  height: auto; }
  .wrapper .content-wrapper {
    margin: 0 auto;
    width: 90%;
    height: auto;
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;
    /* OLD - Firefox 19- (buggy but     mostly works) */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Chrome */
    display: flex;
    /* NEW, Spec - Opera 12.1, Firefox 20+     */
    padding: 10px; }
    @media screen and (max-width: 1000px) {
      .wrapper .content-wrapper {
        flex-direction: column; } }
    .wrapper .content-wrapper article {
      padding: 10px;
      padding-right: 50px;
      width: auto;
      flex-grow: 2; }
      @media screen and (max-width: 1000px) {
        .wrapper .content-wrapper article {
          width: 100%; } }
      .wrapper .content-wrapper article h1 {
        color: rgba(0, 0, 0, 0.72);
        font-size: 2.0625rem;
        text-transform: uppercase;
        margin: 5px auto;
        font-family: "PT Sans", Courier, sans-serif;
        font-weight: 700; }
      .wrapper .content-wrapper article h2 {
        color: rgba(0, 0, 0, 0.72);
        font-size: 1.5625rem;
        text-transform: uppercase;
        margin: 5px auto;
        font-family: "PT Sans", Courier, sans-serif;
        font-weight: 700; }
      .wrapper .content-wrapper article h3 {
        color: rgba(0, 0, 0, 0.72);
        font-size: 1.0625rem;
        text-transform: uppercase;
        margin: 5px auto;
        font-family: "PT Sans", Courier, sans-serif;
        font-weight: 700; }
      .wrapper .content-wrapper article a,
      .wrapper .content-wrapper article a:visited {
        text-decoration: none;
        color: #000;
        text-transform: uppercase; }
        .wrapper .content-wrapper article a:hover,
        .wrapper .content-wrapper article a:visited:hover {
          transition: all ease 0.3s;
          border-bottom: 1px solid rgba(255, 255, 255, 0.5); }
      @media screen and (max-width: 400px) {
        .wrapper .content-wrapper article h1,
        .wrapper .content-wrapper article h2,
        .wrapper .content-wrapper article h3 {
          word-break: break-all; } }
    .wrapper .content-wrapper .left-sidebar {
      width: 30%;
      display: none; }
      @media screen and (min-width: 1500px) {
        .wrapper .content-wrapper .left-sidebar {
          display: block; } }
    .wrapper .content-wrapper aside {
      width: 30%; }
      @media screen and (max-width: 1000px) {
        .wrapper .content-wrapper aside {
          width: 100%; } }
      .wrapper .content-wrapper aside h3 {
        color: #000;
        font-size: 2.5vh;
        text-transform: uppercase;
        margin: 5px auto;
        font-family: "Source Sans Pro", sans-serif;
        font-weight: 300;
        text-align: center;
        background: RGBA(0, 0, 0, 0.05);
        padding: 5px 0px 0px 0px;
        border-style: solid;
        border-width: 4px 0px 0px;
        border-image: url("../images/template/gradient.jpg") 4 0 0 0 stretch repeat; }
      .wrapper .content-wrapper aside .map {
        margin: 0 auto;
        width: 100%;
        height: auto;
        padding: 10px 0px 10px 0px;
        background: rgba(0, 0, 0, 0.05); }
        .wrapper .content-wrapper aside .map h3 {
          color: #000;
          font-size: 2.5vh;
          text-transform: uppercase;
          margin: 0;
          font-family: "Source Sans Pro", sans-serif;
          font-weight: 300;
          text-align: center;
          position: relative;
          top: -10px;
          background: RGBA(0, 0, 0, 0.05);
          padding: 5px 0px 0px 0px;
          border-style: solid;
          border-width: 4px 0px 0px;
          border-image: url("../images/template/gradient.jpg") 4 0 0 0 stretch repeat; }
        .wrapper .content-wrapper aside .map .grid-wrapper {
          margin: 0 auto;
          width: 100%;
          height: auto;
          display: -webkit-box;
          /* OLD - iOS 6-, Safari 3.1-6 */
          display: -moz-box;
          /* OLD - Firefox 19- (buggy but     mostly works) */
          display: -ms-flexbox;
          /* TWEENER - IE 10 */
          display: -webkit-flex;
          /* NEW - Chrome */
          display: flex;
          /* NEW, Spec - Opera 12.1, Firefox 20+     */
          flex-direction: column; }
          .wrapper .content-wrapper aside .map .grid-wrapper .grid {
            width: 100%;
            height: auto;
            display: -webkit-box;
            /* OLD - iOS 6-, Safari 3.1-6 */
            display: -moz-box;
            /* OLD - Firefox 19- (buggy but     mostly works) */
            display: -ms-flexbox;
            /* TWEENER - IE 10 */
            display: -webkit-flex;
            /* NEW - Chrome */
            display: flex;
            /* NEW, Spec - Opera 12.1, Firefox 20+     */
            flex-direction: row;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
            .wrapper .content-wrapper aside .map .grid-wrapper .grid .grid-row {
              width: 50%;
              height: auto;
              padding: 10px 0px 10px 0px;
              flex-grow: 1;
              text-align: center; }
            .wrapper .content-wrapper aside .map .grid-wrapper .grid:nth-child(2n+1) {
              background: rgba(0, 0, 0, 0.05); }
            .wrapper .content-wrapper aside .map .grid-wrapper .grid:last-child {
              border-bottom: initial; }
        .wrapper .content-wrapper aside .map img {
          margin: 0 auto;
          display: block;
          width: 50%;
          transition: all ease 0.3s;
          opacity: 0.7; }
          .wrapper .content-wrapper aside .map img:hover {
            transition: all ease 0.3s;
            opacity: 1;
            cursor: pointer; }
      .wrapper .content-wrapper aside .aside-box {
        margin: 0 auto;
        display: block;
        width: 100%;
        height: 250px;
        position: relative; }
        .wrapper .content-wrapper aside .aside-box .filter {
          display: block;
          min-width: 100%;
          min-height: 100%;
          background: rgba(0, 0, 0, 0.3);
          transition: all linear 0.3s; }
          .wrapper .content-wrapper aside .aside-box .filter:hover {
            background: rgba(0, 0, 0, 0.15); }
          .wrapper .content-wrapper aside .aside-box .filter .grid {
            margin: 0 auto;
            width: 100%;
            height: auto;
            display: -webkit-box;
            /* OLD - iOS 6-, Safari 3.1-6 */
            display: -moz-box;
            /* OLD - Firefox 19- (buggy but     mostly works) */
            display: -ms-flexbox;
            /* TWEENER - IE 10 */
            display: -webkit-flex;
            /* NEW - Chrome */
            display: flex;
            /* NEW, Spec - Opera 12.1, Firefox 20+     */
            flex-direction: column;
            position: absolute;
            left: 0;
            bottom: 0;
            padding: 5px; }
            .wrapper .content-wrapper aside .aside-box .filter .grid .grid-row {
              width: 100%;
              height: auto; }
              .wrapper .content-wrapper aside .aside-box .filter .grid .grid-row h3 {
                all: initial;
                font-family: "PT Sans", Courier, sans-serif;
                font-weight: 700;
                text-transform: uppercase;
                color: #fff;
                text-decoration: none;
                position: relative;
                left: 10px; }
              .wrapper .content-wrapper aside .aside-box .filter .grid .grid-row p {
                margin: 0 auto;
                width: 95%;
                color: #fff;
                text-decoration: none;
                font-family: "PT Sans", Courier, sans-serif;
                font-weight: 300; }

.footer {
  margin: 0 auto;
  width: 100%;
  min-height: 400px;
  background: url("../images/template/footer-bg.png") center repeat scroll;
  padding: 0px 0px 50px 0px; }
  .footer .container {
    margin: 0 auto;
    width: 90%;
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;
    /* OLD - Firefox 19- (buggy but     mostly works) */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Chrome */
    display: flex;
    /* NEW, Spec - Opera 12.1, Firefox 20+     */ }
    @media screen and (max-width: 1500px) {
      .footer .container {
        flex-direction: column; } }
    .footer .container .grid {
      width: auto;
      display: -webkit-box;
      /* OLD - iOS 6-, Safari 3.1-6 */
      display: -moz-box;
      /* OLD - Firefox 19- (buggy but     mostly works) */
      display: -ms-flexbox;
      /* TWEENER - IE 10 */
      display: -webkit-flex;
      /* NEW - Chrome */
      display: flex;
      /* NEW, Spec - Opera 12.1, Firefox 20+     */
      flex-grow: 1; }
      @media screen and (max-width: 1000px) {
        .footer .container .grid {
          flex-direction: column; } }
      .footer .container .grid .grid-row {
        flex-grow: 1;
        padding: 10px; }
        .footer .container .grid .grid-row h2 {
          font-size: 1.875rem;
          font-family: "PT Sans", Courier, sans-serif;
          font-weight: 700;
          text-transform: uppercase;
          color: rgba(0, 0, 0, 0.72); }
          .footer .container .grid .grid-row h2 .icon {
            float: left;
            position: relative;
            top: 5px;
            margin: 5px; }
        .footer .container .grid .grid-row .footer-menu {
          list-style-type: none;
          margin: 0;
          padding: 0; }
          .footer .container .grid .grid-row .footer-menu li {
            font-size: 1.125rem;
            text-shadow: 0px 1px 0px #FFF;
            list-style-type: none;
            margin: 5px auto;
            padding: 0;
            background: rgba(170, 170, 170, 0.2) none repeat scroll 0% 0%;
            transition: all 300ms ease-out 0s; }
            .footer .container .grid .grid-row .footer-menu li a {
              font-family: "PT Sans", Courier, sans-serif;
              font-weight: 300;
              color: #222;
              font-size: 15px;
              text-decoration: none;
              padding: 5px 10px;
              line-height: 35px;
              border-radius: 5px;
              transition: all 300ms ease-out 0s;
              background: rgba(170, 170, 170, 0) none repeat scroll 0% 0%; }
            .footer .container .grid .grid-row .footer-menu li:hover {
              background: rgba(170, 170, 170, 0.5) none repeat scroll 0% 0%;
              transition: all 300ms ease-out 0s;
              border-radius: 5px; }
        .footer .container .grid .grid-row .form-wrapper {
          margin: 0 auto;
          width: 100%;
          height: auto; }
          .footer .container .grid .grid-row .form-wrapper .grid {
            display: -webkit-box;
            /* OLD - iOS 6-, Safari 3.1-6 */
            display: -moz-box;
            /* OLD - Firefox 19- (buggy but     mostly works) */
            display: -ms-flexbox;
            /* TWEENER - IE 10 */
            display: -webkit-flex;
            /* NEW - Chrome */
            display: flex;
            /* NEW, Spec - Opera 12.1, Firefox 20+     */
            flex-direction: column; }
            .footer .container .grid .grid-row .form-wrapper .grid .grid-row {
              width: auto;
              flex-grow: 1;
              padding: initial; }
              @media screen and (max-width: 1500px) {
                .footer .container .grid .grid-row .form-wrapper .grid .grid-row {
                  width: 100%; } }
        .footer .container .grid .grid-row:nth-child(2) {
          flex-grow: 2; }

.end {
  margin: 0 auto;
  width: 100%;
  padding: 15px 0px 15px 0px;
  background: rgba(0, 0, 0, 0.5); }
  .end .grid {
    margin: 0 auto;
    width: 90%;
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;
    /* OLD - Firefox 19- (buggy but     mostly works) */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Chrome */
    display: flex;
    /* NEW, Spec - Opera 12.1, Firefox 20+     */ }
    @media screen and (max-width: 1000px) {
      .end .grid {
        flex-direction: column; } }
    .end .grid .grid-row {
      width: 50%;
      flex-grow: 1;
      color: #fff;
      font-family: "PT Sans", Courier, sans-serif;
      font-weight: 300; }
      @media screen and (max-width: 1000px) {
        .end .grid .grid-row {
          width: 100%; } }
      .end .grid .grid-row:first-child {
        text-align: left;
        text-transform: uppercase; }
        @media screen and (max-width: 1000px) {
          .end .grid .grid-row:first-child {
            text-align: center; } }
      .end .grid .grid-row:nth-child(2) {
        text-align: right; }
        .end .grid .grid-row:nth-child(2) a, .end .grid .grid-row:nth-child(2) a:visited {
          text-decoration: none;
          color: #fff;
          text-transform: uppercase;
          transition: all ease 0.3s; }
          .end .grid .grid-row:nth-child(2) a:hover, .end .grid .grid-row:nth-child(2) a:visited:hover {
            transition: all ease 0.3s;
            border-bottom: 1px solid rgba(255, 255, 255, 0.5); }
        @media screen and (max-width: 1000px) {
          .end .grid .grid-row:nth-child(2) {
            display: none; } }

.module-wrapper {
  display: none;
  position: fixed;
  z-index: 200;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.8) none repeat scroll 0% 0%;
  z-index: 2;
  overflow: hidden; }
  .module-wrapper .cookie-info {
    margin: 0 auto;
    width: 400px;
    height: auto;
    z-index: 3; }
    .module-wrapper .cookie-info h2 {
      display: block;
      text-align: center;
      font-family: "PT Sans", Courier, sans-serif;
      font-weight: 300;
      color: white;
      font-size: 20px;
      background: rgba(255, 255, 255, 0.21) none repeat scroll 0% 0%;
      padding: 10px;
      border-radius: 3px; }
    .module-wrapper .cookie-info p {
      text-align: justify;
      font-family: "PT Sans", Courier, sans-serif;
      font-weight: 300;
      color: #fff; }
    .module-wrapper .cookie-info .button {
      display: block;
      width: auto;
      padding: 10px;
      border-radius: 3px;
      font-family: "PT Sans", Courier, sans-serif;
      font-weight: 300;
      color: #fff;
      text-align: center;
      background-color: rgba(106, 177, 19, 0.5);
      text-transform: uppercase;
      text-decoration: none;
      opacity: 0.7;
      transition: all ease 0.3s; }
      .module-wrapper .cookie-info .button:hover {
        transition: all ease 0.3s;
        opacity: 1; }
  .module-wrapper .choose-tel {
    margin: 0 auto;
    width: 400px;
    height: auto;
    z-index: 3; }
    .module-wrapper .choose-tel h2 {
      display: block;
      text-align: center;
      font-family: "PT Sans", Courier, sans-serif;
      font-weight: 300;
      color: white;
      font-size: 20px;
      background: rgba(255, 255, 255, 0.21) none repeat scroll 0% 0%;
      padding: 10px;
      border-radius: 3px; }
    .module-wrapper .choose-tel .close-module {
      cursor: pointer; }
      .module-wrapper .choose-tel .close-module img {
        margin: 30px auto;
        display: block; }
    .module-wrapper .choose-tel ul {
      display: block;
      margin: 0 auto;
      list-style-type: none;
      margin: 0;
      padding: 0;
      text-align: center; }
      .module-wrapper .choose-tel ul li {
        font-family: "PT Sans", Courier, sans-serif;
        font-weight: 300;
        color: #fff;
        text-transform: uppercase;
        padding: 10px;
        font-size: 20px;
        transition: all ease 0.3s; }
        .module-wrapper .choose-tel ul li a,
        .module-wrapper .choose-tel ul li a:hover,
        .module-wrapper .choose-tel ul li a:visited {
          text-decoration: none;
          color: #fff; }
        .module-wrapper .choose-tel ul li:hover {
          transition: all ease 0.3s;
          font-size: 25px;
          cursor: pointer; }

input[type=text], input[type=email], input[type=submit], textarea, select {
  padding-left: 45px;
  background-color: rgba(202, 202, 200, 0.5);
  box-shadow: 0px -1px 0px rgba(0, 0, 0, 0.15), 0px 1px 0px rgba(255, 255, 255, 0.1);
  border-radius: 3px;
  color: #222;
  height: 48px;
  -moz-appearance: none;
  border-radius: 3px;
  background-color: #D6D6D4;
  border-style: solid;
  border-width: 0px;
  border-color: #CCC;
  box-shadow: 0px 1px 1px rgba(237, 237, 236, 0.3) inset;
  color: rgba(0, 0, 0, 0.9);
  display: block;
  font-family: inherit;
  font-size: 1rem;
  height: 2.4375rem;
  margin: 0px 0px 1rem;
  padding: 0.5rem;
  width: 100%;
  box-sizing: border-box;
  transition: border-color 0.15s linear 0s, background 0.15s linear 0s;
  font-family: "PT Sans", Courier, sans-serif;
  font-weight: 300; }

textarea {
  height: 150px; }

input[type=submit] {
  background-color: rgba(106, 177, 19, 0.5);
  color: #fff; }

select {
  color: rgba(0, 0, 0, 0.5); }

input[type="text"]:focus,
input[type="text"]:hover,
input[type="password"]:focus,
input[type="password"]:hover,
input[type="date"]:focus,
input[type="date"]:hover,
input[type="datetime"]:focus,
input[type="datetime"]:hover,
input[type="datetime-local"]:focus,
input[type="datetime-local"]:hover,
input[type="month"]:focus,
input[type="month"]:hover,
input[type="week"]:focus,
input[type="week"]:hover,
input[type="email"]:focus,
input[type="email"]:hover,
input[type="number"]:focus,
input[type="number"]:hover,
input[type="search"]:focus,
input[type="search"]:hover,
input[type="tel"]:focus,
input[type="tel"]:hover,
input[type="time"]:focus,
input[type="time"]:hover,
input[type="url"]:focus,
input[type="url"]:hover,
input[type="color"]:focus,
input[type="color"]:hover,
input[type="submit"]:hover,
textarea:focus,
textarea:hover,
select:focus,
select:hover {
  background: #BFBFBB none repeat scroll 0% 0%;
  border-color: #999;
  outline: medium none;
  cursor: pointer; }

/*# sourceMappingURL=main.css.map */
