.slider {
    margin: 0 auto;
    width: 100%;
    min-height: calc(100vh - 85px);
    background: url(http://www.s-thetic.de/images/carousel/neu/E1-START_Aesth-mit-OP-MAIN-Koerper.jpg) top no-repeat fixed;
    background-size: cover;
    position: relative;
    .grid {
        margin: 0 auto;
        width: 90%;
        height: auto;
        @include flex();
        padding: 2% 0px 0px 0px;
        @media screen and (max-width: 1000px) {
            flex-direction: column;
        }
        .grid-row {
            width: 50%;
            flex-grow: 1;
            padding: 10px;
            @media screen and (max-width: 1000px) {
                width: 100%;
            }
            /*Fix für Slider-Kontaktformular auf Handys*/
            @media screen and (max-width:400px) {
                padding: 0;
            }
            &:nth-child(1) {
                @media screen and(max-width: 400px) {
                    display: none;
                }
                h2 {
                    font-size: 5vh;
                    font-family: "Source Sans Pro";
                    font-weight: 300;
                    color: #fff;
                    display: inline;
                    margin: 0;
                }
                p {
                    @include font(300);
                    color: #fff;
                    font-size: 2.2vh;
                }
            }
            &:nth-child(2) {
                .form-wrapper {
                    margin: 0 auto;
                    width: 100%;
                    height: auto;
                    background: rgba(0, 0, 0, 0.72) none repeat scroll 0px 0px;
                    padding: 25px 0px 0px 0px;
                    border-radius: 3px;
                    h2 {
                        font-family: "Source Sans Pro";
                        font-weight: 300;
                        color: #FFF;
                        display: block;
                        font-size: 2.7vh;
                        width: 100%;
                        text-align: center;
                        margin: 0px auto;
                        position: relative;
                        top: -25px;
                        padding: 5px 0px;
                        background: rgba(191, 27, 54, 0.56);
                        text-transform: uppercase;
                    }
                    .grid {
                        @include flex();
                        flex-direction: column;
                        .grid-row {
                            width: auto;
                            flex-grow: 1;
                            padding: initial;
                            input[type]:not([type=submit]),
                            input[type]:hover,
                            textarea,
                            textarea:hover,
                            select,
                            select:hover {
                                background-color: #CACAC8;
                            }
                            input[type="submit"] {
                                background-color: rgba(145, 182, 101, 0.5);
                            }
                            @media screen and (max-width: 1500px) {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
}